@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    By:<br />
    Floris van Echteld<br />
    Aswin Rajaa <br />
    James Edmondson-Jones<br />
    <br />

    For help contact the developers above. Discord link:<br />
    https://discord.gg/b4XtuX4 <br />
</address>


