
@{
    ViewData["Title"] = "Index";
}

<h2 align="center">Admin</h2>

<div class="row fullwidth">
    <div class="button col-xs-6 col-sm-3"><a asp-action="CreateEvents">Create Events</a></div>
    <div class="button col-xs-6 col-sm-3"><a asp-action="EventsList">See Events List</a></div>
    <div class="button col-xs-6 col-sm-3"><a asp-action="TeamList">View Team List</a></div>
    <div class="button col-xs-6 col-sm-3"><a asp-action="ThingList">View Thing List</a></div>
    <div class="button col-xs-6 col-sm-3"><a asp-action="AllThings">View All Things</a></div>
</div>

